html, body {margin: 0; padding: 0}

a {
    text-decoration: none;
}

/* a:hover{
    text-decoration: underline;
} */

.message {
    font-weight: 600;
    color: blue;
}

p.content-block-title {
    padding-top: 80px;
    margin: 0; 
    text-align:center; 
    color:rgb(255, 255, 255); 
    text-decoration: none; 
    font-size: 30pt;
}

p.content-block-title-short {
    padding-top: 20px;
    margin: 0; 
    text-align:center; 
    color:rgb(255, 255, 255); 
    text-decoration: none; 
    font-size: 30pt;
}

p.page-title {
    padding-top: 40px;
    margin: 0; 
    text-align:center; 
    color:rgb(29, 29, 31); 
    text-decoration: none; 
    font-size: 30pt;
    /* line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em; */

}

p.content-block-learn-more {
    padding: 20px; 
    margin: 0; 
    text-align:center; 
    color:rgb(41, 141, 255); 
    text-decoration: none;
}

.navbar {
    /* background-color: rgba(0, 81, 121, 0.581); */
    font-size: 0.75em;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    color: rgb(222, 222, 222);
    margin: 0, 0px;
    width:auto;
    padding: 0;
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    text-transform: capitalize;
}

.navbar-content {
    margin: 0 auto;
    margin-left: 100;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
    display: block
}

.navbar-list {
    /* margin: 0 -8px; */
    margin-left: 120px;
    margin-right: 120px;
    width: auto;
    height: 44px;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 0px;
    bottom: 0;
    position: center;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-section {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 50vw;
    bottom: 10px;
    background-color: rgb(251, 251, 253);
}

.content-section table {
    text-align: center; 
    width: auto; 
    margin: auto; 
    border-spacing: 10px 0; 
    padding: 10px 0 10px 0; 
    table-layout: fixed; 
    height: inherit
}

.content-section-header {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    bottom: 10px;
    height: 50px; 
    background-color: rgb(245, 245, 247);
}

.content-section-header p {
    text-align:center; 
    padding: 0; 
    margin: 0; 
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu; 
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: -.01em;
    height: inherit;
}

.content-block-portfolio_optimizer {
    width: 48.5vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    display: block;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
}

.content-block-two {
    width: 48.5vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    display: block;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
}

.content-block-github {
    width: 100vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    height: 100%;
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(245, 245, 247); 
    display: flex; 
    justify-content: center;
}

.content-block-about-me {
    width: 48.5vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    display: block;
    height: 100%;
    background-color: rgb(245, 245, 247);
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
}

.content-block-coming-soon {
    width: 48.5vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    display: block;
    height: 100%;
    background-color: rgb(245, 245, 247);
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
}

.content-block-triplets {
    width: 32.0vw;
    float: auto;
    margin-right: 20px;
    margin: 0 auto;
    display: block;
    height: 30vw;
    background-color: rgb(0, 0, 0);
    padding: 100px, 20px, 100px, 20px;
    top: 0;
    right: 0;
    left: 0;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    position:sticky;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
}

body {
    background-color: rgba(250, 250, 250, 0.265);
}

nav {
    position: sticky;
    background-color: rgba(0, 81, 121, 0.851);
    backdrop-filter: saturate(180%) blur(20px);
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    /* background-color: rgba(0, 81, 121, 0.851); */
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    border-radius: 0px;
    display: block;
}

li {
    float: center;
    border-right: 0px solid rgba(0, 81, 121, 0.581);
}

li a {
    display: inline-block;
    color: rgba(0, 81, 121, 0.581);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /* background-color: rgb(0, 81, 121); */
    color: rgb(255, 255, 255)
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.site-header-logo h1{
    color: rgb(0, 81, 121);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-top: 2rem;
}