{% extends "layout.html" %}
{% block title %}
    Auto Remote
{% endblock %}
{% block content %}
        <p>Click appropriate Button to retreive data on live MLB games</p>
            <a href="{{ url_for('auto_remote_live_sit_viewer') }}">  
                <input type="submit" value="Live Situation"/>  
               </a>
            
            <a href="{{ url_for('auto_remote_interest_index_viewer') }}">  
                <input type="submit" value="Interest Index and Links"/>  
               </a>
               
            <a href="{{ url_for('auto_remote_ii_calculations_viewer') }}">  
                <input type="submit" value="Interest Index Calculations"/>  
               </a>
        </form>
{% endblock %}