{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <section class="content-section">
        <p>Home page for my website</p>
        
        <div class="content-block-one">
            <p>Home page for my website</p>
        </div>
        <div class="content-block-two">
            <p>Hello</p>
        </div>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
        <p>Home page for my website</p>
    </section>
    <section class='content-section'>
        <p>Hi</p>
    </section>
{% endblock %}