<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div>
        <ul>
            <li><a href="{{ url_for('home') }}" class="navbar-brand">Home</a></li>
            <li><a href="{{ url_for('about') }}" class="navbar-item">About</a></li>
            <li><a href="{{ url_for('contact') }}" class="navbar-item">Contact</a></li>
            <li><a href="{{ url_for('auto_remote_viewer') }}" class="navbar-item">Auto Remote</a></li>
            <li><a href="{{ url_for('portfolio_optimizer_home') }}" class="navbar-item">Portfolio Optimizer</a></li>
        </ul>
        </div>
        <!-- <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
            <a href="{{ url_for('portfolio_optimizer_home') }}" class="navbar-item">Portfolio Optimizer</a>
        </div> -->

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2022</p>
            </footer>
        </div>
    </body>
</html>