{% extends "layout.html" %}
{% block title %}
    Portfolio Optimizer
{% endblock %}
{% block content %}
        <p>Enter a list of comma-separated stock tickers (e.g. MSFT, PG, HLI):</p>
        <form method="post" action=".">
            <p><input name="ticker_list" /></p>
            <p><input type="submit" value="Find Max Sharpe Portfolio" /></p>
        </form>
        <div id="chart1"></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script>
            var graph1 = {{ data | safe }};
            Plotly.plot('chart1', graph1, {})
        </script>

{% endblock %}